<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.edu.unicid.quizdasbandeiras">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizdasbandeiras"
        tools:targetApi="31">

        <!-- MainActivity (Tela Inicial) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QuizActivity (Tela de Perguntas) -->
        <activity
            android:name=".QuizActivity"
            android:exported="true" />

        <!-- RankingActivity (Tela de Ranking) -->
        <activity
            android:name=".RankingActivity"
            android:exported="true" />

    </application>

</manifest>
